/* generali */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #009688 13%, #d8dbd5 13%) ;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container {
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
}
img {
    border-radius: 50%;
    width: 50px;
}

a p:hover, i:hover {
    transform: scale(1.2);
}


/* parte sinistra dell`app */
.left-section {
   float: left;
   width: 30%;
   height: 100%;
   border: 1px solid red;
   background-color: white;
}
.your-avatar {
    background-color: #EAEAEA;
}

.notifiche {
    background-color: #8EDAFC;
}

.notifiche-testo {
    color: gray;
    font-size: 13px;
}

.notifiche-circle {
    max-width: 50px; 
    max-height: 50px; 
    border-radius: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px; 
}

.search-button,
.search-input{
    border: 1px solid lightgray;
}


.notifiche-circle i {
    font-size: 21px;
}



/* parte destra dell`app*/
.right-section {
   float: left;
   width: 70%;
   height: 100%;
   border: 1px solid red;
   background-image: url(img/mine.jpg);
}

.chat-avatar {
    background-color: #EAEAEA;

}

.message {
    width: 100%;
    background-color:#F3EEEA;
}